.chart-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

.chart {
  width: 50vw;
  margin: 1rem auto;
}

@media only screen and (max-width: 768px) {
  .chart {
    width: 90vw;
  }
}
