footer {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0.5rem auto;
  background: #d5d5d5;
  text-align: center;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -6px;
}

.footer {
  letter-spacing: 2px;
  padding: 0.1rem;
}

.heart-img {
  width: 3%;
}

