@import url("https://fonts.googleapis.com/css?family=Wallpoet&display=swap");

*{
  padding: 0;
  margin: 0.5rem auto;
  box-sizing: border-box;
}

body,
input,
select {
  font-family: "Wallpoet", cursive;
}
